/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/css/index.css ***!
  \******************************************************************************************************************************************************/
body {
  margin: 0; }

/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/index.scss ***!
  \********************************************************************************************************************************************************/
@keyframes nav {
  from {
    top: -43px; }
  to {
    top: -6.5px; } }

* {
  font-family: "Microsoft YaHei"; }

.Main_container {
  width: 100%;
  height: 808px;
  max-width: 1980px;
  margin-left: auto;
  margin-right: auto; }

.header {
  z-index: 1;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 105px;
  background-color: rgba(255, 255, 255, 0.315); }
  .header .logo {
    display: inline-block;
    background-image: url(../images/TTTTaiwan-V2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 95px;
    height: 95px;
    position: absolute;
    top: 5px;
    left: 26%; }
  .header .nav_container {
    position: absolute;
    top: 32px;
    right: 3%;
    width: 40%;
    height: 300px; }
    .header .nav_container .nav_item {
      display: inline-block;
      text-align: center;
      margin-right: 5%;
      margin-left: 5%; }
      .header .nav_container .nav_item .a:link, .header .nav_container .nav_item :visited {
        font-size: 24px;
        line-height: 30px;
        text-decoration-line: none;
        color: #333; }
      .header .nav_container .nav_item .a {
        display: block;
        width: 97px;
        height: 80px; }
      .header .nav_container .nav_item .a:hover {
        color: #000; }
    .header .nav_container .hover_nav {
      animation-name: nav;
      animation-duration: 0.28s;
      animation-iteration-count: 1;
      width: 103%;
      height: 140px;
      background-color: rgba(255, 255, 255, 0.541);
      position: relative;
      top: -7px;
      text-align: center;
      transform: translate(-14%, 0); }
      .header .nav_container .hover_nav .hover_item {
        font-size: 16px;
        line-height: 20px;
        color: #623A28;
        text-align: center;
        font-weight: 850;
        line-height: 50px;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.45vw;
        margin-left: 0.45vw;
        margin-top: 12px;
        width: 16%;
        height: 120px;
        background-size: 45%;
        background-position: 50% 60%;
        background-repeat: no-repeat; }
      .header .nav_container .hover_nav .hover_item:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 50%; }
      .header .nav_container .hover_nav .line {
        display: inline-block;
        width: 2px;
        height: 80px;
        background-color: #ff791a8c;
        margin-left: 1px;
        color: #00000000; }

.banner_container {
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden; }
  .banner_container .banner_repeater {
    display: flex;
    width: 100%;
    margin-left: 0%;
    transition: all 0.7s; }
    .banner_container .banner_repeater .img_container {
      width: 100%;
      flex-shrink: 0; }
      .banner_container .banner_repeater .img_container img {
        width: 100%;
        height: 100%; }
  .banner_container .handle_carousel {
    display: flex;
    position: absolute;
    bottom: 2%;
    right: 50%;
    transform: translate(50%, 0); }
    .banner_container .handle_carousel .handle_btn {
      width: 12px;
      height: 12px;
      border: solid 2px rgba(255, 255, 255, 0.219);
      border-radius: 50%;
      margin-right: 10px;
      margin-left: 10px;
      background-color: rgba(255, 255, 255, 0.055);
      cursor: pointer;
      transition: all 0.7s; }
  .banner_container .input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 444px;
    right: 50%;
    transform: translate(50%, 0);
    background-color: white;
    border-radius: 7px;
    width: 28vw;
    height: 45px; }
    .banner_container .input_container i {
      font-size: 20px;
      line-height: 30px; }
    .banner_container .input_container input {
      font-size: 16px;
      line-height: 20px;
      width: 18vw;
      height: 38px;
      margin-left: 10px;
      color: #333;
      background-color: white;
      border: solid 1px white; }
    .banner_container .input_container input:focus {
      border: solid 2px #ff7b1a;
      border-radius: 5px;
      outline: solid white 1px; }
    .banner_container .input_container .GO_btn {
      font-size: 16px;
      line-height: 29px;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
      width: 94px;
      height: 30px;
      background-color: #ff7b1a;
      border-radius: 20px;
      margin-left: 20px; }
    .banner_container .input_container .GO_btn:hover {
      background-color: #ff791ab7; }

.first {
  position: relative;
  width: 100%;
  height: 500px; }
  .first .main_title {
    width: 54%;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    font-size: 28px;
    line-height: 40px;
    font-weight: 550; }
  .first .main_title::before {
    content: ".";
    color: #00000000;
    background-color: #ff7b1a; }
  .first .main_items_container {
    margin-left: auto;
    margin-right: auto;
    width: 57%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap; }
  .first .btn_container {
    width: 50%;
    height: 30px;
    margin: 20px auto 80px auto;
    display: flex;
    justify-content: center; }

.item_a {
  flex-basis: 240px;
  height: 270px;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 45px;
  text-align: center; }
  .item_a .item_container i {
    display: inline; }
  .item_a .item_container img {
    width: 230px;
    height: 153.4px; }
  .item_a .item_container .title_container {
    width: 200px;
    height: 84px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
    .item_a .item_container .title_container .item_title {
      font-size: 20px;
      line-height: 30px;
      font-weight: 600; }
  .item_a .item_container .caption_container {
    margin-top: 10px; }
    .item_a .item_container .caption_container i {
      color: #ff7b1a; }
    .item_a .item_container .caption_container .item_caption {
      display: inline;
      color: #333;
      font-weight: 600; }

.item_a:visited, :link {
  color: #333;
  text-decoration: none; }

.btn, .first .btn_container .left_btn, .first .btn_container .right_btn {
  font-weight: 500;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer; }

.btn:hover, .first .btn_container .left_btn:hover, .first .btn_container .right_btn:hover {
  color: white;
  background-color: #ff7b1a; }


/*# sourceMappingURL=index-7134a04fd6a67b1fd0f6-bundle.css.map*/